<div class="container-main">
  <h2 class="login100-form-title fs-70" style="color: white;">Welcome, {{first_name}} {{last_name}}!</h2>

  {{#if students_subjects.length}}
    <div class="row">
      {{#each students_subjects as |subject|}}
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="card">
            <div class="card-body border-radius-lg position-relative overflow-hidden pb-4 px-sm-5 ">
              <h5 class="mt-2 text-dark">{{title}}</h5>
              <a href="/subject/{{id}}"
                class="font-weight-bold text-xs text-uppercase font-weight-bolder text-info icon-move-right">
                Check Class Info
                <p>{{subject.subject_professor.first_name}}</p>
                <i class="fas fa-arrow-right text-xs ms-1" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>


      {{/each}}

  {{/if}}

</div>

{{!-- <script src="/js/studentsubject.js"></script> --}}